Source: plasma-modified-defaults-mx
Section: system
Priority: optional
Maintainer: Dolphin Oracle <dolphinoracle@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1

Package: plasma-modified-defaults-mx
Architecture: all
Description: modified plasma defaults for mx and antiX linux
